* {
    font-family: Montserrat, Nunito, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.page-title {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}


.title-border {
    padding-left: 10px;
    border-left: 5px solid var(--el-color-primary);
}

.el-overlay-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-dialog {
    margin: auto !important;
}

.el-dialog__body {
    height: calc(100% - 54px - 62px);
    padding: 0 20px !important;
    overflow-y: auto;
}

.el-drawer {
    background: #f5f7fa;
}

.table-title {
    border-left: 4px solid var(--el-color-primary);
    padding-left: 5px;
}

.dialog-content {
    max-height: 65vh;
    overflow-y: auto;
    padding-right: 10px;
}

.el-table th {
    background-color: #f8f8f9 !important;
}

.table-btn-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.el-popover.el-popper {
    min-width: 200px !important;
    box-sizing: border-box;
}

.btn-area {
    display: flex;
    justify-content: center;
}